
html { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
}

 
.logbox {
	position: fixed;
	top: 45%;
	left:30%;
	margin-left: -150px;
	margin-top: -150px;
	height: 400px;
	width: 400px;
	opacity: 0.3px;
	z-index: 1;
	color: #7e7e7e;
	background-color: #f1f1f1;
	padding: 25px;
	border-radius: 20px;
font-family: 'Poiret One', cursive;
font-size: 18px;	
}

 /**
 ohja dit
*/

form 
{
	margin-bottom: 10px;
}

.logbox > a {
	color: #2a2a2a;
}

#title  {
font-family: 'Raleway', cursive;
text-align: center;
font-size: 52px;
}

.btn, .btn-primary {
	background-color: #00E5EE !important;
	border: none !important;
	width: 100px;
	height: 40px;
	padding: 10px;
	margin-left: 118px;
	color: #260366 !important;
	font-size: 18px !important;
}